.gallery {
    display: flex;
    top: 8vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    flex-direction: row;

    gap: 30px;
    position: relative;
  }
  
  .image-container {
    position: relative;
    cursor: pointer;
    width: 170px; /* Установите желаемую ширину */
    height: 170px; /* Установите желаемую высоту */
  }
  
  .img-prev {
    width: 100%; /* Занять всю ширину контейнера */
    height: 100%; /* Занять всю высоту контейнера */
    object-fit: contain; /* Сохранить пропорции изображения */
  }
  
  .preview-modal {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    z-index: 999; /* Чтобы превью было выше других элементов */
    transform: translate(-50%, -350%); /* Центрируем по горизонтали и поднимаем над изображением */
  }
  
  .preview-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }